<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <body>
      {{#if user}}
        <h1>WELCOME BACK {{user.username}}</h1>
        <a href="/log-out">LOG OUT</a>

      {{else}}
        <a href="/sign-up">Sign Up If Not</a>
        <h1>please log in</h1>
        <form action="/log-in" method="POST">
          <label for="username">Username</label>
          <input name="username" placeholder="username" type="text" />
          <label for="password">Password</label>
          <input name="password" type="password" />
          <button>Log In</button>
        </form>
      {{/if}}
    </body>
  </body>
</html>
